a {
  color: #DB0F5A;
  text-decoration: none;
}

.card-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.card {
  height: 300px;
  width: 220px;
  margin: 2rem;
  padding: 1rem;
  position: relative;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.825), rgba(0, 62, 156, 0.13)),
    radial-gradient(circle at 0%, rgba(0, 71, 187, 0.329), rgba(0, 71, 179, 0.521) 50%, rgba(37, 26, 26, 0.432) 75%, rgba(33, 10, 54, 0.236) 75%),
    radial-gradient(circle at 100%, rgba(43, 127, 238, 0.329), rgba(13, 115, 231, 0.514) 50%, rgba(37, 26, 26, 0.432) 75%, rgba(51, 51, 51, 0.315) 75%),
    radial-gradient(circle at 100% 0%, rgba(5, 5, 5, 0.329), rgb(226, 226, 231) 50%, rgba(37, 26, 26, 0.432) 75%, rgba(51, 51, 51, 0.161) 75%),
    radial-gradient(circle at 0% 100%, rgba(45, 10, 173, 0.541), rgba(107, 166, 245, 0.805) 50%, rgba(37, 26, 26, 0.432) 75%, rgba(51, 51, 51, 0.315) 75%),
    radial-gradient(closest-side, #3f87a646, #ebf8e13d, #3cd1f654),
    linear-gradient(315deg, rgba(212, 212, 207, 0.74) 3%, rgb(11, 12, 12) 38%, rgba(16, 24, 23, 0.301) 68%, rgba(166, 168, 173, 0.942) 98%);
  background-size: 200% 200%;
  animation: cosmic 10s ease-in-out infinite;
  box-sizing: border-box;
  transform: skewY(-5deg);
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 50px;
  align-items: center;
}

.card::before {
  content: '';
  width: 10px;
  height: 300px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.825), rgba(0, 62, 156, 0.13)),
    radial-gradient(circle at 0%, rgba(0, 71, 187, 0.329), rgba(0, 71, 179, 0.521) 50%, rgba(37, 26, 26, 0.432) 75%, rgba(33, 10, 54, 0.236) 75%),
    radial-gradient(circle at 100%, rgba(43, 127, 238, 0.329), rgba(13, 115, 231, 0.514) 50%, rgba(37, 26, 26, 0.432) 75%, rgba(51, 51, 51, 0.315) 75%),
    radial-gradient(circle at 100% 0%, rgba(5, 5, 5, 0.329), rgb(226, 226, 231) 50%, rgba(37, 26, 26, 0.432) 75%, rgba(51, 51, 51, 0.161) 75%),
    radial-gradient(circle at 0% 100%, rgba(45, 10, 173, 0.541), rgba(107, 166, 245, 0.805) 50%, rgba(37, 26, 26, 0.432) 75%, rgba(51, 51, 51, 0.315) 75%),
    radial-gradient(closest-side, #3f87a646, #ebf8e13d, #3cd1f654),
    linear-gradient(315deg, rgba(212, 212, 207, 0.74) 3%, rgb(11, 12, 12) 38%, rgba(16, 24, 23, 0.301) 68%, rgba(166, 168, 173, 0.942) 98%);
  background-size: 200% 200%;
  animation: cosmic 10s ease-in-out infinite;
  position: absolute;
  top: 0px;
  left: -9.5px;
  transform-origin: right;
  transform: skewY(45deg);
  border: none;
  transition: all 0.5s;
}

.card::after {
  content: '';
  height: 10px;
  width: 220px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.825), rgba(0, 62, 156, 0.13)),
    radial-gradient(circle at 0%, rgba(0, 71, 187, 0.329), rgba(0, 71, 179, 0.521) 50%, rgba(37, 26, 26, 0.432) 75%, rgba(33, 10, 54, 0.236) 75%),
    radial-gradient(circle at 100%, rgba(43, 127, 238, 0.329), rgba(13, 115, 231, 0.514) 50%, rgba(37, 26, 26, 0.432) 75%, rgba(51, 51, 51, 0.315) 75%),
    radial-gradient(circle at 100% 0%, rgba(5, 5, 5, 0.329), rgb(226, 226, 231) 50%, rgba(37, 26, 26, 0.432) 75%, rgba(51, 51, 51, 0.161) 75%),
    radial-gradient(circle at 0% 100%, rgba(45, 10, 173, 0.541), rgba(107, 166, 245, 0.805) 50%, rgba(37, 26, 26, 0.432) 75%, rgba(51, 51, 51, 0.315) 75%),
    radial-gradient(closest-side, #3f87a646, #ebf8e13d, #3cd1f654),
    linear-gradient(315deg, rgba(212, 212, 207, 0.74) 3%, rgb(11, 12, 12) 38%, rgba(16, 24, 23, 0.301) 68%, rgba(166, 168, 173, 0.942) 98%);
  background-size: 200% 200%;
  animation: cosmic 10s ease-in-out infinite;
  position: absolute;
  top: -9.5px;
  left: 0px;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: all 0.5s;
  box-shadow: -310px 315px 6px rgba(36, 4, 41, 0.5);
}

@keyframes cosmic {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.card:hover {
  transform: skewY(0deg);
}

.card:hover::before {
  width: 0px;
  height: 300px;
  left: 0;
  top: 0.1px;
}

.card:hover::after {
  width: 220px;
  height: 0px;
  left: 0.1px;
  top: 0;
  border: none;
}

.card>*:not(.heading) {
  opacity: 0;
}

.card .heading {
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: 0.7s;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
}

.card .heading span {
  font-weight: 700;
  letter-spacing: 1.5px;
  animation: flickering 3s linear infinite;
}

.card .heading span::before {
  content: '☞';
  position: absolute;
  top: 40px;
  left: 40%;
  transform: rotate(-90deg);
  font-size: 30px;
  transition: all 0.5s;
}

.card:hover .heading span::before {
  transform: rotate(90deg);
  left: 45%;
}

@keyframes flickering {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  52% {
    opacity: 1;
  }

  54% {
    opacity: 0;
  }

  56% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  92% {
    opacity: 0;
  }

  94% {
    opacity: 1;
  }

  96% {
    opacity: 0;
  }

  98% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.card:hover .heading {
  top: 13%;
}

.card:hover>*:not(.heading) {
  animation: fadeIn 1s ease 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.card .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
}

.card .content .item {
  border-radius: 0px 5px 0 5px;
  cursor: pointer;
  display: flex;
  gap: 15px;
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2px 30px;
  justify-content: start;
  align-items: center;
}

.card .content .item:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.content .item--create:hover svg {
  animation: create 4s infinite;
  stroke: #DB0F5A;
}

@keyframes create {
  0% {
    transform: translateX(1px);
  }

  10% {
    transform: translateX(-1px);
  }

  20% {
    transform: translateX(1px);
  }

  30% {
    transform: translateX(-1px);
  }

  40% {
    transform: translateX(1px);
  }

  50% {
    transform: translateX(-1px);
  }

  60% {
    transform: translateX(1px);
  }

  70% {
    transform: translateX(-1px);
  }

  80% {
    transform: translateX(1px);
  }

  90% {
    transform: translateX(-1px);
  }

  100% {
    transform: translateX(1px);
  }
}

.content .item--post:hover svg {
  animation: rocket 1s infinite;
  stroke: #DB0F5A;
}

@keyframes rocket {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(-2deg);
  }

  20% {
    transform: rotate(2deg);
  }

  30% {
    transform: rotate(-2deg);
  }

  40% {
    transform: rotate(2deg);
  }

  50% {
    transform: rotate(-2deg);
  }

  60% {
    transform: rotate(2deg);
  }

  70% {
    transform: rotate(-2deg);
  }

  80% {
    transform: rotate(2deg);
  }

  90% {
    transform: rotate(-2deg);
  }

  100% {
    transform: rotate(2deg);
  }
}

.content .item--inspire:hover svg {
  animation: inspire 2s infinite;
  stroke: #DB0F5A;
}

@keyframes inspire {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(0.97);
  }

  20% {
    transform: scale(1.03);
  }

  30% {
    transform: scale(1);
  }

  40% {
    transform: scale(0.97);
  }

  50% {
    transform: scale(1.03);
  }

  60% {
    transform: scale(1);
  }

  70% {
    transform: scale(0.97);
  }

  80% {
    transform: scale(1.03);
  }

  90% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.97);
  }
}

.orcamentoButton {
  cursor: pointer;
  border-radius: 0px 5px 0 5px;
  height: 30px;
  width: calc(100% + 50px);
  position: relative;
  border: none;
  transition: 0.2s;
  background-color: var(--white-color);
  font-family: var(--font-base);
  text-align: center;
  font-size: 17px;
  z-index: 0 !important;
}



button:hover {
  letter-spacing: 1px;
}

button:active {
  transform: translateY(1px);
}

.list-container {
  margin-bottom: -35px;
  margin-left: 20px;
  color: #fff;
  font-size: 12px;

  li {

    line-height: 25px;
  }
}